.side-area {
    height: 100%;
}

.sidebar {
    background: var(--blue);
    height: 100%;
    color: var(--white);
    position: relative;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.sidebar ul li a {
    color: var(--white);
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.5s;
}

.sidebar ul li a:hover {
    background: rgb(255 255 255 / 19%);
}

.sidebar ul.child {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    right: -100%;
    z-index: 1;
    background: var(--light-grey);
    box-shadow: 5px 0 5px #9a9a9a33;
    display: none;
}

.sidebar ul.child li {
    color: var(--black);
}

.sidebar ul.child li a:hover {
    background: rgb(218 218 218 / 19%);
}

.sidebar ul.parent li:hover ul.child {
    display: block;
}

/* forms selected */

.form-selected {
    background: var(--light-grey);
    padding: 20px 0;
}

.form-selected a {
    display: block;
    cursor: pointer;
    padding: 10px 15px;
    font-weight: 500;
    text-decoration: none;
    color:  var(--black);
}

.form-selected a.active, .form-selected a:hover {
    background: rgb(218 218 218 / 19%);
}

/* form elements  */

.form-elements a {
    display: block;
    padding: 5px 15px;
    border: 1px dashed;
    border-radius: 25px;
    margin: 10px;
    cursor: pointer;
}