@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap';

:root {
  --blue: #037aff;
  --white: #ffffff;
  --light-grey: #f6f6f6;
  --black: #000000;
}

body {
  margin: 0;
  overflow-x: hidden !important;
  font-family: 'Roboto', sans-serif !important;
}

.button {
  text-decoration: none;
  background: var(--white);
  color: var(--blue);
  padding: 5px 20px;
  border-radius: 25px;
  text-align: center;
  font-weight: 500;
}
